albumentations==1.3.1
astropy
coremltools
evalutils
ipykernel
matplotlib
numpy
onnx
onnx_graphsurgeon
onnxsim
opencv-python
openslide-python
pafy
pandas
Pillow
plotly
pycocotools
PyYAML
requests
scikit-learn
scipy
seaborn
setuptools
statsmodels
thop
tiatoolbox
torch
torchmetrics
tensorboard
wandb
torchvision
tqdm
tritonclient
